*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#h1{
    font-size: 300%;
    font-family: sans-serif;
}
#p1{
    font-size: 115%;
}
#box1{
    background-color: rgb(27,36,51);
    color: white;
    text-align: center;
}

#h2{
    font-family: sans-serif;
    font-size: 170%;
}
#p2{
    font-size: 130%;
}
#box2{
    margin-top: 20px;
    margin-left: 10%;
    margin-right:10%;
    padding: 40px;
    text-align: center;
    background-color: rgb(245,249,250);
}
#h3{
    font-family: sans-serif;
}
#p3{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px;
}
#p4{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px;
}
#box3{
    background-color: rgb(218,240,255);
    margin-top: 20px;
    margin-left: 10%;
    margin-right:10%;
    padding: 40px;
    text-align: center;

}

#h4{
    font-family: sans-serif;
}
#p5{background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px

}
#p6{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px
}
#p7{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px
}
#p8{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px
}

#box4{
    background-color: rgb(251,237,189);
    margin-top: 20px;
    margin-left: 10%;
    margin-right:10%;
    padding: 40px;
    text-align: center;
}

#h5{
    font-family: sans-serif;
}
#p9{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px
}
#p10{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px
}
#p11{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px
}
#box5{
    background-color: rgb(235,230,254);
    margin-top: 20px;
    margin-left: 10%;
    margin-right:10%;
    padding: 40px;
    text-align: center
}

#h6{
    font-family: sans-serif;
}
#p12{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px
}
#p13{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px
}
#p14{
    background-color: white;
    font-size: 130%;
    margin-left: 140px;
    margin-right: 140px;
    padding: 15px
}
#box6{
    background-color: rgb(213,252,227);
    margin-top: 20px;
    margin-left: 10%;
    margin-right:10%;
    padding: 40px;
    text-align: center
}

#p15{
    color: white;
    font-size: 12px;
}
#box7{ background-color:  rgb(27,36,51);
    margin-top: 20px;
    padding: 40px;
    text-align: center

}