*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family:hey;
    src: url(./Lovalina\ Regular.otf);
}
#box{
    text-align: center;
    height:100%;
    width: 100%;
    background-image: url(./sergey-koznov-gq7OvZDDhs8-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#h1{font-size: 100px;
    padding: 30px;
    font-family: hey;
    color: rgb(158,82,84);
    font-weight: 900;

}
button{
    margin-top: -10px;
    padding: 15px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50px;
}