
@font-face {
    font-family: hel;
    src: url(./Helvetica.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    
    
}

.main{
    height: 100%;
    width: 100%;
    background-color: rgb(8, 8, 64);
    display: flex;
    align-items: center;
    justify-content: center;
}

    
.card{
    position: relative;
    width: 350px;
    height: 400px;
    background-color: rgb(8, 8, 64);
    border-radius: 50px;
    overflow: hidden;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.bottom{
    padding: 40px;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -30%;
    background: linear-gradient(transparent,black);
    display: flex;
    justify-content: space-between;
    color: white;
    transition: all ease 0.2s;
}
.bottom h3{
    font-size: 28px;
    font-family: hel;
    font-weight: 100;
}
.bottom h4{
    font-size:24px;
}

.card:hover .bottom{
    bottom: 0%;
    transform: rotate(360deg);
}